.page {
  height: 100vh;
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
}

.dark-mode {
  transition: background-color 2s ease;
  background: grey;
}

.light-mode {
  background-color: "#F2F2F2";
}

.container {
  width: 80%;
  margin: auto;
}
