.page {
  height: 100vh;
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-mode {
  transition: background-color 2s ease;
  background-color: black;
}

.light-mode {
  background-color: (230, 22%, 74%);
}

.container {
  width: 80%;
  margin: auto;
}
